[submodule "modules/bettertest"]
	path = modules/bettertest
	url = git@github.com:TimZoet/bettertest-module.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:TimZoet/common-module.git
[submodule "modules/math"]
	path = modules/math
	url = git@github.com:TimZoet/math-module.git
[submodule "modules/parsertongue"]
	path = modules/parsertongue
	url = git@github.com:TimZoet/parsertongue-module.git
[submodule "modules/svch"]
	path = modules/svch
	url = git@github.com:TimZoet/svch-module.git
[submodule "modules/svg"]
	path = modules/svg
	url = git@github.com:TimZoet/svg-module.git
[submodule "modules/svgen"]
	path = modules/svgen
	url = git@github.com:TimZoet/svgen-module.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:TimZoet/cmake-module.git
