[submodule "modules/bettertest"]
	path = modules/bettertest
	url = git@github.com:TimZoet/bettertest-module.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:TimZoet/cmake-module.git
[submodule "modules/bettertest_json"]
	path = modules/bettertest_json
	url = git@github.com:TimZoet/bettertest-json-module.git
[submodule "modules/bettertest_xml"]
	path = modules/bettertest_xml
	url = git@github.com:TimZoet/bettertest-xml-module.git
[submodule "modules/bettertest_alexandria"]
	path = modules/bettertest_alexandria
	url = git@github.com:TimZoet/bettertest-alexandria-module.git
